body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:gainsboro;
}

header{
    padding: 5px;
    text-align: center;
    background-image: url(slikezasajt/sovapozadina.jpg) ;
    
}
nav{
    float:left;
    width: 20%;
    background-color: green;
    height: 350px;
    color: black;
}

nav ul{
    list-style-type: none;
    padding: 15px;
    margin:0px;
}

nav li{
    padding: 10px;
}

nav li:hover{
    background-color:lightgoldenrodyellow
}

nav li a{
    padding:10px;
    color:black;
    text-decoration: none;
}

section{
    padding:10px;
    margin-left: 20%;
    width: 80%;
    height:350px; 
}
